<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-4r [%t] %-5p %c - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="co.edu.unal.alife.poc.sbw3" level="INFO" />
  <logger name="co.edu.unal.alife.poc.sbw3.two" level="INFO" />
  <logger name="co.edu.unal.alife.poc.sbw3.four" level="TRACE" />
  <root level="INFO">
    <appender-ref ref="A1"/>
  </root>
</configuration>